<!DOCTYPE html>
<html lang="it">
  <head>
    <title>OB Laser - Noleggio macchinario epilazione laser 808 +1064 Roma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="google-site-verification" content="JdGsOCeepjlmejp_bBD_qgp9NIViKZon1EF4EV80Ljo" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", rel: "preload", as: "style", onload: "this.onload=null;this.rel='stylesheet'" %>
    <noscript><%= stylesheet_link_tag "application", "data-turbo-track": "reload" %></noscript>
    <%= javascript_importmap_tags %>

    <link rel="preload" as="image" href="/assets/legs-12942fe7ce4699c3f3087014d53f807dcc9317fb056d2776e5de31e6fb3633d3.png">

    <!-- Primary Meta Tags -->
    <meta name="title" content="OB Laser - Noleggio macchinario epilazione laser 808 + 1064 Roma">
    <meta name="description" content="Leader in epilazione laser a Roma. OB offre noleggio di tecnologie avanzate e trattamenti professionali per estetisti e centri benessere.">
    <!-- Keywords (Optional, Google doesn't prioritize but other engines might) -->
    <meta name="keywords" content="epilazione laser, estetica professionale, macchinario laser 808 + 1064 Roma, trattamento epilazione, OB estetica, depilazione definitiva, Noleggio macchinario epilazione laser 808 +1064 Roma">
    <!-- Author -->
    <meta name="author" content="OB Laser - Noleggio macchinario laser 808 + 1064 Roma Roma">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="OB Laser - Noleggio Laser Epilazione Roma">
    <meta property="og:description" content="Noleggio e trattamenti con laser diodo avanzato. Esperienza e innovazione nell'estetica professionale.">
    <meta property="og:image" content="https://www.oblaser.it/assets/OB-SVG-3cf21ca4e6df3604958d4467def5a88a64350b2e6c45681e5cda7edbadecb321.svg">
    <meta property="og:url" content="https://www.oblaser.it">
    <meta property="og:type" content="website">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="OB Laser - Noleggio Macchinario Epilazione Laser 808 + 1064 Roma">
    <meta name="twitter:description" content="Noleggio laser diodo 808 + 1064, epilazione avanzata, servizi per estetiste e centri estetici.">
    <meta name="twitter:image" content="https://www.oblaser.it/assets/OB-SVG-3cf21ca4e6df3604958d4467def5a88a64350b2e6c45681e5cda7edbadecb321.svg">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "OB Laser - Noleggio Laser Epilazione Roma",
        "url": "https://www.oblaser.it",
        "logo": "https://www.oblaser.it/assets/OB-SVG-3cf21ca4e6df3604958d4467def5a88a64350b2e6c45681e5cda7edbadecb321.svg",
        "sameAs": [
          "https://www.facebook.com/profile.php?id=100089724952722&locale=it_IT",
          "https://www.instagram.com/ob.laser/"
        ],
        "description": "Leader in epilazione laser diodo 808 + 1064 a Roma. OB offre noleggio di tecnologie avanzate  e trattamenti professionali per estetisti e centri benessere."
      }
    </script>

    <!-- Favicon -->
    <%= favicon_link_tag 'logo.png', type: 'image/png' %>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
      body {
        font-family: 'Bodoni Bauer', serif;
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
      }

      h1, h2, h3, h4, h5, h6, p {
        font-family: 'Bodoni Bauer', sans-serif;
        color: black;
      }
    </style>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17173553085">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-17173553085');
    </script>
  </head>
  <body id="page" data-controller="navbar burger-menu back-to-top swiper">
    <%= yield %>
  </body>
</html>
