<!DOCTYPE html>
<html>
  <head>
    <title>ObLaser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      body {
          font-family: 'Bodoni Bauer', serif;
          margin: 0;
          padding: 0;
          text-align: center;
      }
      h1, h2, h3, h4, h5, h6 {
          font-family: 'Bodoni Bauer', sans-serif;
          color: black;
      }

      p {
          color: black;
      }
      .hero {
        /* display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; */
          background: url('hero-image.jpg') center/cover no-repeat;
          color: white;
          padding: 100px 20px;
          padding-top: 0px;
          width: 100dvw;
          height: 100dvh;
      }

      .btn {
          background: #FEBDC6;
          color: white;
          padding: 20px 40px;
          text-decoration: none;
          border-radius: 5px;
          font-size: 30px;
          margin-top: 20px;
          &:hover {
              background: #ff4d4d;
          }
      }

      .about, .pricing, .testimonials, .contact {
          padding: 50px 20px;
          padding-top: 0;
      }

      .features, .plans {
          display: flex;
          justify-content: center;
          gap: 20px;
      }

      .feature img, .plan {
          width: 350px;
          height: auto;
      }

      form {
          display: flex;
          flex-direction: column;
          width: 300px;
          margin: auto;
      }

      form input, form textarea, form button {
          margin: 10px 0;
          padding: 10px;
      }

      footer {
          background:rgb(255, 226, 226);
          color: white;
          padding: 20px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
