<!DOCTYPE html>
<html lang="it">
  <head>
    <title>OB Laser - Noleggio Laser Epilazione Roma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preload" as="image" href="/assets/legs-12942fe7ce4699c3f3087014d53f807dcc9317fb056d2776e5de31e6fb3633d3.png">

    <!-- Primary Meta Tags -->
    <meta name="title" content="OB Laser">
    <meta name="description" content="Leader in epilazione laser a Roma. OB offre noleggio di tecnologie avanzate e trattamenti professionali per estetisti e centri benessere.">
    <!-- Keywords (Optional, Google doesn't prioritize but other engines might) -->
    <meta name="keywords" content="epilazione laser, estetica professionale, laser diodo, trattamento epilazione, OB estetica, depilazione definitiva, Noleggio laser epilazione Roma">
    <!-- Author -->
    <meta name="author" content="OB Laser - Noleggio Laser Epilazione Roma">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="OB Laser - Noleggio Laser Epilazione Roma">
    <meta property="og:description" content="Noleggio e trattamenti con laser diodo avanzato. Esperienza e innovazione nell'estetica professionale.">
    <meta property="og:image" content="https://www.oblaser.it/assets/OB-SVG-3cf21ca4e6df3604958d4467def5a88a64350b2e6c45681e5cda7edbadecb321.svg">
    <meta property="og:url" content="https://www.oblaser.it">
    <meta property="og:type" content="website">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="OB Laser - Noleggio Laser Epilazione Roma">
    <meta name="twitter:description" content="Noleggio laser diodo, epilazione avanzata, servizi per estetiste e centri estetici.">
    <meta name="twitter:image" content="https://www.oblaser.it/assets/OB-SVG-3cf21ca4e6df3604958d4467def5a88a64350b2e6c45681e5cda7edbadecb321.svg">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "OB Laser - Noleggio Laser Epilazione Roma",
        "url": "https://www.oblaser.it",
        "logo": "https://www.oblaser.it/assets/OB-SVG-3cf21ca4e6df3604958d4467def5a88a64350b2e6c45681e5cda7edbadecb321.svg",
        "sameAs": [
          "https://www.facebook.com/profile.php?id=100089724952722&locale=it_IT",
          "https://www.instagram.com/ob.laser/"
        ],
        "description": "Leader in epilazione laser a Roma. OB offre noleggio di tecnologie avanzate e trattamenti professionali per estetisti e centri benessere."
      }
    </script>

    <!-- Favicon -->
    <%= favicon_link_tag 'logo.png', type: 'image/png' %>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
      body {
        font-family: 'Bodoni Bauer', serif;
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: 'Bodoni Bauer', sans-serif;
        color: black;
      }

      p {
          color: black;
      }

      nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background:rgb(255, 226, 226);
        padding: 20px;
        z-index: 10;
        .navbar-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .link {
          color: rgb(0, 0, 0);
          text-decoration: none;
          margin-left: 20px;
          &:hover {
            color: #ff4d4d;
          }

          @media (max-width: 768px) {
            display: none;

          }
        }
      }

      #navbar {
        transition: opacity 0.5s ease-in-out; // Smooth fading effect
        opacity: 1; // Fully visible by default
      }

      .hero {
        color: white;
        text-align: center;
        margin: auto ;
        padding: 100px 20px;
        padding-top: 50px;
        width: 100%;
        height: 100dvh;
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
        // background: rgba(255, 255, 255, 0.5); /* Adjust opacity */
        z-index: 0;
        border-bottom: 1px solid rgba(254, 189, 198, 0.24);
        @media (max-width: 768px) {
          background-image: url('legs.png');

        }
        .hero-overlay {
          z-index: 1;
          width: 100%;
          height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(255, 255, 255, 0.221);
        }

        .text{
          z-index: 2;
          margin-top: 40px;
          // background-color: rgba(255, 255, 255, 0.221);
        }

        img {
          z-index: 2;
          width: 31rem;
          height: auto;
          margin: auto;
          margin-bottom: 20px;
          // background-color: rgba(255, 255, 255, 0.221);
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        /* @media (max-width: 768px) {
          padding: 50px 20px;
        } */

        .btn {
          z-index: 2;
          background: #FEBDC6;
          color: white;
          padding: 15px 30px;
          text-decoration: none;
          border-radius: 5px;
          font-size: 30px;
          // margin-top: 40px;
          position: absolute;
          top: 460px;
          left: 50%;
          transform: translateX(-50%);

          &:hover {
              background: #ff4d4d;
          }

          @media (max-width: 768px) {
            padding: 10px 20px;
            font-size: 20px;
            top: 350px;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
      }

      form input, form textarea, form button {
        margin: 10px 0;
        padding: 10px;
      }



      footer {
        background:rgb(255, 226, 226);
        color: white;
        padding: 20px;
        .link {
          color:  #ff4d4d;
          text-decoration: none;
          &:hover {
            color: black;
          }
        }
      }

    </style>
  </head>

  <body id="page" data-controller="navbar burger-menu back-to-top swiper">
    <%= yield %>
  </body>
</html>
